extends ../shared/template

block content

  .navbar.navbar-inverse.navbar-fixed-top(role='navigation')
    .container
      .nav-bar-header
        button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
          span.sr-only Toggle navigation
          span.icon-bar
          span.icon-bar
          span.icon-bar
        //- .navbar-form.navbar-left.studentsearch(role='search')
        //-   input.search.form-group(type='text', class='form-control', placeholder='Search')
        //-   button.searchbutton.btn.btn-default Search
        a.navbar-brand(href='/confirmation') WEB: Where Education Begins
        .float
          a.name.navbar-brand(href='/users/#{user._id}') Welcome, #{user.firstName} #{user.lastName}
          a.logout.btn.btn-dangera(href='/logout') Log Out
      .navbar-collapse.collapse

  .profile
  //-     .name <strong>Name: </strong> #{user.firstName} #{user.lastName}
  //-     .email <strong>Email: </strong> #{user.email}
  //-     .age <strong>Age: </strong> #{user.age}



  .container-box

    #student-courses
      h2 Current Courses

    #progress
      h2 Progress

    #courses
      h2 All Courses
      each course in courses
        .courses-inner-box
          .course-title= course.title
            a(href='/users/#{user.userName}/#{course._id}')
          .course-username By: #{course.userName}
          a(href='/users/#{user.userName}/#{course._id}')
            img.course-image(src='/img/#{course.image}')
