extends ../shared/template

block content

  .navbar.navbar-inverse.navbar-fixed-top(role='navigation')
      .container
         .nav-bar-header
             button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
                 span.sr-only Toggle navigation
                 span.icon-bar
                 span.icon-bar
                 span.icon-bar
             a.navbar-brand(href='/confirmation') WEB: Where Education Begins
             .float
               a.name.navbar-brand('/users/#{user._id}') Welcome, #{user.firstName} #{user.lastName}
               a.logout.btn.btn-dangera(href='/logout') Log Out
         .navbar-collapse.collapse
  .profile

  #create-course
    h2 Create Course
    form(action='/courses/create', method='POST', enctype='multipart/form-data')
      input.form-control(type='text', name='title', placeholder='Course Title', required)
      textarea.form-control(type='text', name='summary', placeholder='Brief Summary', required)
      input(type='file', name='image')
      button.submit.btn.btn-info#new-course Create Course

  #current-courses
    h2 Current Courses
      each course in courses
        .title= course.title
          a(href='/users/#{user.userName}/#{course._id}')
        .author By: #{user.userName}
        img.image(src='/img/#{course.image}')
