extends ../shared/template

block content

  .navbar.navbar-inverse.navbar-fixed-top(role='navigation')
      .container
          .nav-bar-header
              button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
                  span.sr-only Toggle navigation
                  span.icon-bar
                  span.icon-bar
                  span.icon-bar
              .navbar-brand WEB: Course Creation/Edit
              .float
                .name.navbar-brand #{course.title}
                //img.smallpicture(src="/img/#{user._id}/#{user.picture}")
                button.logout.btn.btn-danger.login Log Out
          .navbar-collapse.collapse

  .courseinfoedit
    h2= course.title
    img.courseimage(src='/img/#{course.image}')

  .add-stage
    h2 Add Stage
    form(method='GET', action='/teacher/#{course._id}/content')
      input.form-control.title(type='text', name='title', placeholder='title')
      button.btn.btn-info#add-stage Add

  .stages
    each content in contents
      h2.content-title= content.title
      button.btn.btn-info.edit-content(data-contentId='#{content._id}') Edit Content
      button.btn.btn-info.edit-test(data-contentId='#{content._id}') Create/Edit Test

block scripts
  script(src='/js/es6/compiled/course.js')
  script(src='/js/es6/compiled/content.js')
