extends ../shared/template

block content

  .navbar.navbar-inverse.navbar-fixed-top(role='navigation')
      .container
          .nav-bar-header
              button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
                  span.sr-only Toggle navigation
                  span.icon-bar
                  span.icon-bar
                  span.icon-bar
              .navbar-brand WEB: Course Creation/Edit
              .name.navbar-brand #{course.title}
          .navbar-collapse.collapse

  .courseinfo
    h2= course.title
    img.courseimage(src='/img/#{course.image}')

  .add-stage
    h2 Add Stage
    form(method='GET', action='/teacher/#{course._id}/content')
      input.form-control.title(type='text', name='title', placeholder='title')
      button.submit.btn.btn-info#add-stage Add

  .stages
    each title in course.contentTitles
      h2= title
      button.submit.btn.btn-info Edit Content
      button.submit.btn.btn-info Create/Edit Test
    each content in contents
      h2= content.title
      button.edit-content(data-contentId='#{content._id}') Edit Content
      button.edit-test(data-contentId='#{content._id}') Create/Edit Test

block scripts
  script(src='/js/es6/compiled/course.js')
  script(src='/js/es6/compiled/content.js')
