extends ../shared/template

block content

  .navbar.navbar-inverse.navbar-fixed-top(role='navigation')
      .container
          .nav-bar-header
              button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
                  span.sr-only Toggle navigation
                  span.icon-bar
                  span.icon-bar
                  span.icon-bar
              .navbar-brand WEB: Course Preview
              .float
                .name.navbar-brand #{course.title}
                .name.navbar-brand #{course.userName}
                button.logout.btn.btn-danger.login Log Out
          .navbar-collapse.collapse

  .courseinfo
    h2= course.title
    img.courseimage(src='/img/#{course.image}')
    p= course.summary

  //-         h3 Stages
  //-           each contentTitle in course.contentTitles
  //-             h4.contentTitle= contentTitle
  //-         button.btn.btn-info#take-course(data-courseid='#{course._id}') Take Course


  .stages
    h3 Stages
      ul
        each contentTitle in course.contentTitles
          li
            h4.contentTitle= contentTitle

  //button.btn.btn-info#take-course(data-courseid='#{course._id}') Take Course

block scripts
  script(src='/js/es6/compiled/course.js')
  script(src='/js/es6/compiled/content.js')
